section.section.hero.community-hero
  .hero-inner
    | {{search submit=false class='search search-full' scoped=true}}
.container
  nav.sub-nav
    | {{breadcrumbs}}
  header.page-header.community-header
    span.dropdown
      span.dropdown-toggle
        h4 {{t 'all_posts'}}
      span.dropdown-menu(role='menu')
        | {{#link 'topics' role='menuitem'}}
        | {{t 'show_topics'}}
        | {{/link}}
        | {{#link 'posts' role='menuitem' selected='true'}}
        | {{t 'show_all_posts'}}
        | {{/link}}
    span.post-to-community
      | {{link 'new_post' role='button' class='button-large'}}
  .topic-header
    span.topic-filters
      span.dropdown
        span.dropdown-toggle
          | {{current_filter.label}}
        span.dropdown-menu(role='menu')
          | {{#each filters}}
          a(href='{{url}}', aria-selected='{{selected}}', role='menuitem')
            | {{name}}
          |           {{/each}}
      span.dropdown
        span.dropdown-toggle
          | {{current_sorter.label}}
        span.dropdown-menu(role='menu')
          | {{#each sorters}}
          a(href='{{url}}', aria-selected='{{selected}}', role='menuitem')
            | {{name}}
          |           {{/each}}
  ul.posts-list.striped-list
    | {{#each posts}}
    .striped-list-item(class='{{#if featured}}post-featured{{/if}}')
      span.striped-list-info
        a.striped-list-title(href='{{url}}', title='{{title}}') {{title}}
        span.post-overview-item
          | {{#if pinned}}
          span.status-label.status-label-pinned {{t 'pinned'}}
          |             {{/if}}
          |             {{#if featured}}
          span.status-label.status-label-featured {{t 'featured'}}
          |             {{/if}}
          |             {{#is status 'none'}}
          |             {{else}}
          span.status-label.striped-list-status(class='status-label-{{status_dasherized}}') {{status_name}}
          |             {{/is}}
        ul.meta-group
          li.meta-data {{author.name}}
          li.meta-data {{t 'created'}} {{date created_at timeago=true}}
      .post-overview-count.striped-list-count
        span.striped-list-count-item
          span.striped-list-number {{vote_sum}}
          |             {{t 'vote' count=vote_sum}}
        span.striped-list-count-item
          span.striped-list-number {{comment_count}}
          |             {{t 'comment' count=comment_count}}
    |     {{/each}}
  |   {{pagination}}
  |   {{#if featured_posts}}
  section.section.community-featured-posts
    h3 {{t 'featured_posts'}}
    ul.promoted-articles
      | {{#each featured_posts}}
      li.promoted-articles-item
        a(href='{{url}}')
          | {{title}}
      |         {{/each}}
  |   {{/if}}
  section.community-activity.activity
    | {{#if help_center.community_enabled}}
    | {{recent_activity scope='community'}}
    | {{/if}}
  section.container.community-footer
    h4 {{t 'suggest_new_post'}}
    |     {{link 'new_post' role='button' class='button-large'}}
